* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: crosshair;
}

body,
.cont,
.loading,
.cube .face .clock,
.cube .face,
.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube .face .container,
.cube .face .clock::after,
.load {
    border-radius: 50%;

}

body,
.canvas,
.cube .face .clock::after,
.cube .face:nth-child(1) .clock div::after,
.cube .face:nth-child(2) .second::after,
.cube .face:nth-child(4) .second::after,
.cube .face:nth-child(3) .clock div::after,
.loading {
    background-color: rgb(0, 0, 0);
}

button,
.cube,
.cube .face,
.cube .face .clock div {
    position: absolute;
}

/* ----- button ------  */

.canvas button {
    transform: translateY(-50%);
    top: 110%;
    border: 0;
    z-index: 10;
    font-size: 40px;
    background-color: transparent;
    color: #A74AC7;
    cursor: pointer;
}


button:nth-child(1) {
    left: 20%;
}

button:nth-child(1)::after {
    content: "\002770";
}

button:nth-child(2) {
    right: 20%;
}

button:nth-child(2)::after {
    content: "\002771";
}
@media screen and (min-width:400px) {
    .canvas button{
        top: 50%;
    }
    button:nth-child(1) {
        left: -40px;
    }
    
    button:nth-child(2) {
        right: -40px;
    }
}

/* -------- Cube -------- */

.canvas {
    width: 300px;
    max-width: 70%;
    height: 300px;
    perspective: 850px;
}

.cube .face .container div::after {
    content: "";
}

.cube .face .clock,
.cube .face .container,
.cube .face {
    width: 100%;
    height: 100%;
}

.cube .face .container {
    box-shadow: inset 0 0 5px black;
}

.canvas,
.cube .face .clock {
    position: relative;
}

.cube .face .clock div {
    display: flex;
    justify-content: center;
}

.cube .face .container {
    padding: 5px;
}

.cube .face {
    padding: 10px;
}

.cube .face:nth-child(odd) .clock div::after {
    border-radius: 8px 8px 0 0;
}

.cube {
    width: 200px;
    height: 200px;
    transform-origin: 50% 50% 100px;
    transform-style: preserve-3d;
    transition: all .5s ease-out;
}

.cube .face {
    top: 0;
    left: 0;
    background-color: #A74AC7;
    border: 2px solid rgb(0, 0, 0);
}

.cube .face:nth-child(1) {
    transform: translateZ(200px);
}

.cube .face:nth-child(2) {
    transform-origin: center right;
    transform: rotateY(90deg);
}

.cube .face:nth-child(3) {
    transform-origin: center center;
    transform: rotateY(180deg);
}

.cube .face:nth-child(4) {
    transform-origin: center left;
    transform: rotateY(-90deg);
}

.cube .face:nth-child(1) .clock {
    background: url(../clockImages/clock1.svg) no-repeat center;
    background-size: contain;
}

.cube .face:nth-child(1) .clock::after {
    width: 7%;
    height: 7%;
}

.cube .face:nth-child(1) .second {
    width: 150px;
    height: 150px;
}

.cube .face:nth-child(1) .second::after {
    width: 4px;
    height: 80px;
}

.cube .face:nth-child(1) .minute {
    width: 100px;
    height: 100px;
}

.cube .face:nth-child(1) .minute::after {
    width: 4px;
    height: 50px;
}

.cube .face:nth-child(1) .hour {
    width: 60px;
    height: 60px;
}

.cube .face:nth-child(1) .hour::after {
    width: 4px;
    height: 30px;
}

.cube .face:nth-child(2) .clock {
    background: url(../clockImages/clock2.svg) no-repeat center;
    background-size: contain;
}

.cube .face:nth-child(2) .clock::after {
    width: 6%;
    height: 6%;
}

.cube .face:nth-child(2) .second {
    width: 150px;
    height: 150px;
}

.cube .face:nth-child(2) .second::after {
    width: 2px;
    height: 80px;
}

.cube .face:nth-child(2) .minute {
    width: 150px;
    height: 150px;
}

.cube .face:nth-child(2) .minute::after {
    width: 60px;
    height: 40px;
    margin-top: 29px;
    transform: rotate(-90deg);
    background: url(../clockImages/hands-minute-1.svg) no-repeat center;
    background-size: contain;
}

.cube .face:nth-child(2) .hour {
    width: 80px;
    height: 80px;
}

.cube .face:nth-child(2) .hour::after {
    width: 50px;
    height: 30px;
    margin-top: 5px;
    transform: rotate(-90deg);
    background: url(../clockImages/hands-hour-1.svg) no-repeat center;
    background-size: contain;
}

.cube .face:nth-child(3) .clock {
    background: url(../clockImages/clock3.svg) no-repeat center;
    background-size: contain;
}

.cube .face:nth-child(3) .clock::after {
    width: 15px;
    height: 15px;
}

.cube .face:nth-child(3) .second {
    width: 160px;
    height: 160px;
}

.cube .face .clock div::after {
    width: 7px;
}

.cube .face:nth-child(3) .second::after {
    height: 80px;
}

.cube .face:nth-child(3) .minute {
    width: 110px;
    height: 110px;
}

.cube .face:nth-child(3) .minute::after {
    height: 50px;
}

.cube .face:nth-child(3) .hour {
    width: 70px;
    height: 70px;
}

.cube .face:nth-child(3) .hour::after {
    height: 30px;
}

.cube .face:nth-child(4) .clock {
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(var(--yAngle, 0deg)) rotateY(var(--xAngle, 0deg));
    background: url(../clockImages/clock4.svg) center;
    background-size: contain;
}

.cube .face:nth-child(4) .clock::after {
    width: 10px;
    height: 10px;
}

.cube .face:nth-child(4) .second {
    width: 140px;
    height: 140px;
}

.cube .face:nth-child(4) .second::after {
    width: 2px;
    height: 70px;
}

.cube .face:nth-child(4) .minute {
    width: 100px;
    height: 95px;
    align-items: start;
}

.cube .face:nth-child(4) .minute::after {
    width: 60px;
    height: 40px;
    transform: rotate(-90deg);
    background: url(../clockImages/hands-minute-2.svg) center no-repeat;
    background-size: contain;
}

.cube .face:nth-child(4) .hour {
    width: 70px;
    height: 83px;
    align-items: start;
}

.cube .face:nth-child(4) .hour::after {
    width: 55px;
    height: 40px;
    transform: rotate(-90deg);
    background: url(../clockImages/hands-hour-2.svg) center no-repeat;
    background-size: contain;
}


/* ------ Loading ------ */
.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #A74AC7;
}

.cont {
    flex-direction: column;
}

.loading p {
    font-size: 30px;
    font-family: cursive;
}

.load {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 8px solid #A74AC7;
    border-top: 8px solid black;
    animation: loading .5s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }

}