* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* clock */
.clock {
    background: url(../clockImages/clock1.svg) no-repeat center;
    background-size: contain;
}
.second::after , .minute::after , .hour::after{
    content: "";
    width: 4px;
    background-color: black;
    border-radius: 8px 8px 0 0;
}

@media screen and (max-width:500px) {
    .second::after , .minute::after , .hour::after{
        max-height: 50%;
    
    }
}
.second::after {
    height: 180px;
    margin-right: 0px;
}

.minute::after {
    height: 120px;
}

.hour::after {
    height: 80px;
}

